<div class="row">
  <div class="starter-template">
    <div class="col-12">
    <h1>Welcome to DSheet Branding</h1>
    <p>This is your datasheet area</p>
    <p>"Select a product sku number and the reseller brand to incorporate in the datasheet"</p>
  </div>
    <section>
      <form action="/products" method="POST">
          <div class="form-group">
            <label for="sku">Choose a SKU:</label>

              <select name="sku" id="sku">
                {{#each skus}}
                <option value={{this.sku}}>{{this.sku}}</option>
              {{/each}}
              </select>
                            
            
                <br><br>
          
          </div>

          <div class="form-group">
              <label for="resellers">Choose a Reseller:</label>
                <select name="resellers" id="resellers">
                 {{#each resellers}}

                
                <option>{{{this.rs_name}}}</option>

                  {{else}}
                  <p>No Resellers Found</p>

                  {{/each}}
                
                </select>
                <div class="row">
                 
                 </div> 
                <br><br>
                
          </div>


                    <div class="form-group">
                      <label for="contacts">Choose a Contact:</label>
                      <select name="contacts" id="contacts">
                        {{#each contacts}}
                        <option value={{this._id}}>{{this.name}}</option>
                        {{else}}
                        <p>No Contacts Found</p>
                    
                        {{/each}}
                      </select>
                      <div class="row">
                    
                      </div>
                      <br><br>
                    
                    </div>
                
                <div><button type="submit" class="btn btn-primary" value="Submit">Submit</button> </div>
              
      </form>

    </section>

  </div>
</div>