
<div class="row">
    {{!-- {{#each result}} --}}
      <div class="col-12">
        <div><h2>{{product_name}}</h2></div> 
        
        <div><h5>{{{truncate short_description 60}}}</h5></div>
        <hr>
         
         <div><h6>SKU: {{product_sku}}</h6></div> 
        <div><h5>MSRP: {{price}}</h5></div>
        


           
      </div> 
      


    {{!-- {{else}} --}}
    

    {{!-- {{/each}} --}}
 </div> 
 <div class="row">
        <div class="col-6">{{{truncate description 1200}}}</div>
        <div class="col-12">
           {{#each mnImage}}
            <img src={{url_standard}} alt="the joy factory product image" width="400" height="400">
           {{/each}}
           <div class="col-12">
             
           {{#each images }}
           <img src={{url_standard}} alt="the joy factory product image" width="100" height="100">
           {{/each}}
          </div>
         </div>
        
        
      </div>
      <div class="row">
        <div class="col-12 benefits"><h5><div class="benes">{{{datasheet_benefits}}}</div></h5></div>
         <div class="col-12 gitfeatures"><h5><div class="feat">{{datasheet_features}}</div></h5></div>

      </div>
      
  
   
     

    
   