
    <div class="row">
      
          <div class="col-12">
            <div><h2>{{product_name}}</h2></div> 
            
            <div><h5>{{{truncate short_description 60}}}</h5></div>
            <hr>
            
            <div><h6>SKU: {{product_sku}}</h6></div> 
            <div><h5>MSRP: {{price}}</h5></div>
            
          </div> 
      </div> 

     <div class="row">
       <div class="col-12 mnContent">
          <div class="col-6">
            <div class="description">
            <p>{{{truncate descript1 920}}} {{{descriptBullets}}}</p>
            </div>
            </div>
          
              
               <div class="col-6">
               {{#each mnImage}}
                
                  <img src={{url_standard}} alt="the joy factory product image" width="445" height="445">
              
              {{/each}}

              <div class="col-12 image-box">

              {{#each images}}
                
                 <div class="col-4 pdf-thumb"><img src={{url_standard}} alt="the joy factory product image" width="112" height="112"></div> 
              
              {{/each}}
             </div> 
        </div>

        </div>
       
       
      </div>
      

      <div class="row">
        <div class="benecontainer">
        <div class="col-12 beneTitle "><h5>Benefits</h5></div>
         <div class="col-12 benefits">
           
             <ul class="benes">
               <li>{{bene1}}</li>
               <li>{{bene2}}</li>
             </ul>
             <ul class="benes">
               <li>{{bene3}}</li>
               <li>{{bene4}}</li>
             </ul>
             <ul class="benes">
               <li>{{bene5}}</li>
               <li>{{bene6}}</li>
             </ul>
             
           
          </div>
          </div>
       </div>
         
       <div class="row">
         <div class="col-12 featTitle"><h5>Features</h5></div>
           <div class="col-12 features">
              <div class="general_features">
                <table>
                  <tbody>
                    <tr>
                      <td>
                         <img src={{feat1}} alt="the joy factory product image" width="65" height="65">
                         <span>{{feat1title}}</span>
                        
                      </td>
                      <td>
                        <img src={{feat2}} alt="the joy factory product image" width="65" height="65">
                        <span>{{feat2title}}</span>
                      </td>
                      <td>
                        <img src={{feat3}} alt="the joy factory product image" width="65" height="65">
                        <span>{{feat3title}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img src={{feat4}} alt="the joy factory product image" width="65" height="65">
                        <span>{{feat4title}}</span>
                      </td>
                      <td>
                        <img src={{feat5}} alt="the joy factory product image" width="65" height="65">
                        <span>{{feat5title}}</span>
                      </td>
                      <td>
                   
                        <img src={{feat6}} alt="the joy factory product image" width="65" height="65">
                        <span>{{feat6title}}</span>
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
               
              
                 
                 
                </div>
           </div>
          </div>
        

      <div class="row">
         <div class="col-12 pdf-footer">
           <table class="pageFooter">
            <tr>
               <td style="width:70%">
                  <table class="footer-table">
                     <tr>
                        <td class="footer-company"><h3>The Joy Factory</h3></td>
                     </tr>
                     <tr>
                        <td class="footer-second-desc"><p>16811 Hale Ave Bldg D Irvine, CA 92606 | sales@thejoyfactory.com | T : 1-877-569-3228| T : 1-877-JOY-FACT | thejoyfactory.com</p></td>
                     </tr>
                  </table>
               </td>
               <td style="width:20%;">
                  <table class="footer-icons">
                     <tr>
                        <td class="footer-image"><img src="https://thejoyfactory.com/content/datasheet/protect.jpg" alt="The Joy Factory Protect Icon"></td>
                        <td class="footer-image"><img src="https://thejoyfactory.com/content/datasheet/secure.jpg" alt="The Joy Factory Secure Icon"></td>
                        <td class="footer-image"><img src="https://thejoyfactory.com/content/datasheet/position.jpg" alt="The Joy Factory Position Icon"></td>
                     </tr>
                     <tr>
                        <td class="footer-icons-text">Protect</td>
                        <td class="footer-icons-text">Secure</td>
                        <td class="footer-icons-text">Position</td>
                     </tr>
                  </table>
               </td>
               <td style="width:10%;">
                  <img class="footer-logo" src="https://thejoyfactory.com/content/datasheet/logo.png" alt="The Joy Factory logo." width="90px" height="50px"/>
               </td>
            </tr>
         </table>

         </div>

      </div>
      <div class="row">
        <div class="col-12 technical">

       
         <h2>TECHNICAL SPECIFICATIONS</h2>
         <div class="case-specifications">
          <div class="col-6 tech-left">
           {{#each techImage }}
            
            {{#if @last}} <img src={{url_standard}} alt="the joy factory product image" width="485" height="485">{{/if}}


           
           {{/each}}
           </div>


           <div class="col-6 tech-right">Specifications and Features
             <div>{{{technical}}}</div>
            </div>

         </div>

         
          <div class="product-specification">
            <div class="product-left">
              <h1>{{product_name}}</h1>
              <div class="product-type">
                <div>{{product_sku}}</div>
                <div>{{product_type}}</div>
                <div>{{price}}</div>
              </div>
            </div>
            <div class="product-table">
               <table class="product-speci-table">
                 <tbody>
                   <tr class="product-speci-title-row">
                     <td colspan="2" class="product-speci-title">Product Specifications</td>
                   </tr>
                   <tr class="product-speci-row">
                     <td class="product-speci-col">Compatible with:</td>
                     <td class="product-speci-col">{{device_compatibility}}</td>
                   </tr>
                   <tr class="product-speci-row">
                     <td class="product-speci-col">Product width:</td>
                     <td class="product-speci-col">{{width}}</td>
                   </tr>
                   <tr class="product-speci-row">
                     <td class="product-speci-col">Product height:</td>
                     <td class="product-speci-col">{{height}}</td>
                   </tr>
                   <tr class="product-speci-row">
                     <td class="product-speci-col">Product thickness:</td>
                     <td class="product-speci-col">{{depth}}</td>
                   </tr>
                   <tr class="product-speci-row">
                     <td class="product-speci-col">Product weight:</td>
                     <td class="product-speci-col">{{weight}}</td>
                   </tr>
                   <tr class="product-speci-row">
                     <td class="product-speci-col">Package width:</td>
                     <td class="product-speci-col">{{unit_width}} in</td>
                   </tr>
                   <tr class="product-speci-row">
                     <td class="product-speci-col">Package height:</td>
                     <td class="product-speci-col">{{unit_height}} in</td>
                   </tr>
                   <tr class="product-speci-row">
                     <td class="product-speci-col">Package thickness:</td>
                     <td class="product-speci-col">{{unit_depth}} in</td>
                   </tr>
                   <tr class="product-speci-row">
                     <td class="product-speci-col">Package weight:</td>
                     <td class="product-speci-col">{{unit_weight}} in</td>
                   </tr>
                   <tr class="product-speci-row">
                     <td class="product-speci-col">UPC:</td>
                     <td class="product-speci-col">{{upc}}</td>
                   </tr>
                   <tr class="product-speci-row">
                     <td class="product-speci-col">Warranty:</td>
                     <td class="product-speci-col">{{warranty}}</td>
                   </tr>
                   <tr class="product-speci-row">
                     <td class="product-speci-col">Certifications:</td>
                     <td class="product-speci-col">{{certifications}}</td>
                   </tr>
                   <tr class="product-speci-row">
                     <td class="product-speci-col">Rating:</td>
                     <td class="product-speci-col">{{reviews_rating_sum}}</td>
                   </tr>
                   <tr class="product-speci-row">
                     <td class="product-speci-col">Package Content:</td>
                     <td class="product-speci-col">{{package_content}}</td>
                   </tr>
                 </tbody>

               </table>
            </div>

           <div class="account-section">
               <table>
                  
                 <tbody>
             
                
                   
                    <tr>
                       <td class="account-section-col-img"><img src="{{reseller_pic}}" alt="" width="200px" height="125px"></td>
                       <td class="account-section-col-name"><div class="rstext"><h2>{{contactname}}</h2></div><div class="rstext"><h5>{{contacttitle}}</h5></div></td>
                       <td class="account-section-col-phone">{{contactemail}} <br> {{contactphone}}</td>
                    </tr>
                  
              
                 </tbody>
                 
               </table>
            </div>
          
            
          </div>
        <div class="row">
        <div class="col-12 pdf-footer">
           <table class="pageFooter">
            <tr>
               <td style="width:70%">
                  <table class="footer-table">
                     <tr>
                        <td class="footer-company"><h3>The Joy Factory</h3></td>
                     </tr>
                     <tr>
                        <td class="footer-second-desc"><p>16811 Hale Ave Bldg D Irvine, CA 92606 | sales@thejoyfactory.com | T : 1-877-569-3228| T : 1-877-JOY-FACT | thejoyfactory.com</p></td>
                     </tr>
                  </table>
               </td>
               <td style="width:20%;">
                  <table class="footer-icons">
                     <tr>
                        <td class="footer-image"><img src="https://thejoyfactory.com/content/datasheet/protect.jpg" alt="The Joy Factory Protect Icon"></td>
                        <td class="footer-image"><img src="https://thejoyfactory.com/content/datasheet/secure.jpg" alt="The Joy Factory Secure Icon"></td>
                        <td class="footer-image"><img src="https://thejoyfactory.com/content/datasheet/position.jpg" alt="The Joy Factory Position Icon"></td>
                     </tr>
                     <tr>
                        <td class="footer-icons-text">Protect</td>
                        <td class="footer-icons-text">Secure</td>
                        <td class="footer-icons-text">Position</td>
                     </tr>
                  </table>
               </td>
               <td style="width:10%;">
                  <img class="footer-logo" src="https://thejoyfactory.com/content/datasheet/logo.png" alt="The Joy Factory logo." width="90px" height="50px"/>
               </td>
            </tr>
         </table>

         </div>

      </div>
        </div>
        
      </div>
      




  


    
  
     

    
   